.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 450px;
  background-color: #a2adc4;
  border-radius: 10px;
  padding: 20px;
}

.display {
  background: black;
  color: lime;
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 10px;
  text-align: right;
  border-radius: 5px;
}

.buttons button {
  width: 60px;
  height: 60px;
  font-size: 1.2rem;
  margin: 5px;
  border: none;
  color: white;
  background-color: #444;
  border-radius: 5px;
}

.buttons button:hover {
  background-color: #666;
}
